<%- include('partials/head')%>

    <%- include('partials/navbar')%>
    <h1>404 Not Found</h1>
    <h2>I'm sorry, we coundn't find the <%=subreddit%> subreddit!</h2>

<%- include('partials/footer')%>