<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>The Home Page <%="hello world".toUpperCase()%> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit nam necessitatibus expedita placeat, 
        asperiores dolores ad facere iste temporibus quae dicta blanditiis nesciunt voluptatum cum, in, 
        debitis id quos veritatis.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit nam necessitatibus expedita placeat, 
        asperiores dolores ad facere iste temporibus quae dicta blanditiis nesciunt voluptatum cum, in, 
        debitis id quos veritatis.</p>
</body>
</html>